h1 {
    margin: 0;
}

ul,
li,
ol {
    list-style: none;
    margin: 1em 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}
figure {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

a {
    margin: 0;
}

header {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 3em;
}
/* =================
        Typography
================= */
h1 {
    margin-top: 0;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 2rem;
}

.header-title {
    margin-bottom: 0;
    color: #143774;
}

/* h1 subtitle */
.subtitle {
    text-transform: uppercase;
    font-size: 700;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    margin-bottom: 0;
    color: #1792d2;
}

.accent-bold {
    font-weight: 700;
    color: #000;
}

.article-title {
    margin-top: 0;
    font-family: "Lora", serif;
    font-size: 1.5rem;
    color: #143774;
    font-weight: 400;
}
.article-body-text {
    font-size: 1.125rem;
    font-weight: 300;
    color: #707070;
}
.article-info {
    margin: 2em 0;
    font-size: 0.875rem;
    color: #707070;
}

.article-link {
    text-decoration: none;
    color: #1792d2;
}
.readMore {
    color: #1792d2;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 5em;
}

.readMore:hover,
.readMore:focus,
.article-link:hover,
.article-title:focus {
    color: #143774;
    text-decoration: underline;
}

.widget-title {
    text-transform: uppercase;
    color: #143774;
    font-family: "Lora", serif;
    font-weight: 300;
}

/* =================
        Layout
================= */

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
    padding: 0;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-container {
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.nav-item a {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #707070;
    padding: 0.25em 0;
    text-decoration: none;
}

.nav-item a:hover,
.nav-item a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 2px solid royalblue;
}

.current-page:hover {
    cursor: pointer;
}

.principal-article {
    border-bottom: #707070 solid 1px;
    padding-bottom: 1.5em;
}

.secondary-articles-container {
    margin: 2em 0;
    padding-bottom: 1.5em;
    border-bottom: #707070 solid 1px;
    display: flex;
    flex-direction: column;
}

.article-secondary-text {
    order: 0;
}

figure {
    margin-top: 2em;
    order: 1;
}

/* =================
        mediaquery
================= */

@media (min-width: 675px) {
    header {
        padding: 2em 0;
    }

    .container-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .list-container {
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-item {
        margin: 0.5em 2em;
    }

    .feed-container {
        margin-right: 1.5em;
        width: 75%;
    }

    .widget-title {
        margin-top: 0;
    }

    .sidebar {
        width: 25%;
        margin-left: 1.5em;
    }

    .principal-article-image {
        width: 100%;
    }

    .principal-article {
        display: flex;
        flex-direction: column;
    }

    .article-title {
        order: 2;
    }
    .article-body-text {
        order: 3;
    }
    .readMore {
        margin-bottom: 2em;
        order: 4;
    }
    .secondary-articles-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .article-title {
        margin-top: 0;
    }

    .article-secondary-text {
        order: 1;
        width: 70%;
    }

    figure {
        margin-top: 0;
        width: 25%;
        order: 0;
    }

    .secondary-articles-image {
        width: 100%;
        min-height: 250px;
        object-fit: cover;
    }
}
