/* ==========================
	Write your solution here!
   ========================== */
   
    
   .container{
       margin: 0;
	  
       display: flex;
       flex-flow: column wrap;
       align-items: center
   }
 
   
   .container img{
	    margin: 1em;
	    width: 90%;
        object-fit: cover;
   }
   
   
   @media (min-width:600px){
	   
	  .container{
		flex-flow: row wrap;
       justify-content: space-between;
	  } 

.container img{
    width: 40%
}
	
	   
   }