/* DON'T TOUCH THIS! */
body {
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://tellusdmsmedia.newmindmedia.com/wsimgs/The-Club_2_933698845.jpg[ProductImage]);
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-family: 'Ubuntu', sans-serif;
}

.btn {
	color: white;
	text-decoration: none;
	background: #22499c;
	font-weight: 800;
	font-family: 'Ubuntu', sans-serif;
	padding: 10px;
}
/* DON'T TOUCH THIS! */

/* ==========================
	Write your solution here!
   ========================== */
   
   
   body{
	   display: flex;
	   flex-direction: column;
		text-align: center;
	   align-items: center;
	   height: 100vh;
	   justify-content: center;
   }
   
   .title{
	   font-size: 2rem;
   }
   
	.btn{
		font-size: 1.3em;
	}
	
	.btn:hover , .btn:focus{
		background-color: #fff;
		color: #000;
		
	}