# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\GIGABYTE\Documents\GitHub\The-Frontend-Developer-Career-Path\Module05\ResponsiveDesign\StartingToThinkResponsively\ElefantSite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
