/* DON'T TOUCH THIS! */
body {
	margin: 0;
	width: 100vw;
	height: 100vh;
}
.stairs {
	width: 100%;
	height: 100%;
}

.stair {
	background: black;
	height: calc(100vh / 3);
	width: calc(100vw / 3);
	margin: 0;
}
/* DON'T TOUCH THIS! */

/* ==========================
	Write your solution here!
   ========================== */
   
   .stairs{
	   display: flex;
   }
   
   
   .stair{
	   align-self: center;
   }
   
   .stair:first-child{
	   align-self: flex-start;   
   }
   
   .stair:last-child{
		align-self: flex-end;   
   }