nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

.card {
  min-width: 300px;
  width: 25%;
  height: 30%;
  margin: 1em 1em;
  padding: 1em;
  box-shadow:
    0 10.9px 4.5px rgba(0, 0, 0, 0.082),
    0 19.3px 11.3px rgba(0, 0, 0, 0.105),
    0 24.9px 23px rgba(0, 0, 0, 0.116),
    0 28.7px 47.5px rgba(0, 0, 0, 0.126),
    0 59px 130px rgba(0, 0, 0, 0.15);
}

.card__title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: 'Open Sans', sans-serif;
  margin: 2em 0;
}

.card__controls {
  background-color: rgb(51, 51, 63);
  padding: 0.2em 0.5em;
  text-align: center;
  border-radius: 5em;
  display: inline-flex;
  justify-content: space-between;

  svg {
    fill: #c0c0c0;
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;

    .a {
      fill: white;
    }
  }

  .card__btn {
    font-size: 2rem;
    background-color: transparent;
    color: #fff;
    text-transform: capitalize;
    border: none;
    font-weight: 800;
  }

  .card__btn:hover {
    color: $blue;
  }

  .card__btn:disabled {
    color: red;

    svg {
      fill: red;
    }
  }

  &:hover {
    box-sizing: border-box;
    transform: none;
    outline: 2px solid $blue;
  }
}

.card--hoppiness {
  &:hover {
    svg:hover {
      fill: $green;
    }
  }

  .card__controls {
    .card__btn--clicked {
      color: red;

      svg {
        fill: $green;
      }
    }
  }
}

.card--alcohol-vol {
  &:hover {
    svg:hover {
      fill: $orangeBeer;
    }
  }

  .card__controls {
    .card__btn--clicked {
      color: yellow;

      svg {
        fill: $orangeBeer;
      }
    }
  }
}
