$body-color: slateblue;

@import '_globals';
@import '_normalize';
@import '_nav';
@import '_container';

* {
  box-sizing: border-box;
}

body {
  color: $body-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 800;
  margin: 0;
  padding: 0.5em 5em;
  font-size: 2.3rem;
  background-color: dodgerblue;
  color: black;
  margin-bottom: 1em;
}
