h1 {
    margin: 0;
}

ul,
li,
ol {
    list-style-type: none;
}

body {
    background-color: #f8f8f8;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}
figure {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

header {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 2em 0;
}
/* =================
        Typography
================= */
h1 {
    margin-top: 0;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 2rem;
}

.header-title {
    margin-bottom: 0;
    color: #143774;
}

/* h1 subtitle */
.subtitle {
    text-transform: uppercase;
    font-size: 700;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    margin-bottom: 0;
    color: #1792d2;
}

.accent-bold {
    font-weight: 700;
    color: #000;
}

.article-title {
    margin-top: 0.8em;
    font-family: "Lora", serif;
    font-size: 1.5rem;
    color: #143774;
    font-weight: 400;
}
.article-body-text {
    font-size: 1.125rem;
    font-weight: 300;
    color: #707070;
}
.article-info {
    font-size: 0.875rem;
    color: #707070;
}

.article-link {
    text-decoration: none;
    color: #1792d2;
}
.readMore {
    color: #1792d2;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.readMore:hover,
.readMore:focus,
.article-link:hover,
.article-title:focus {
    color: #143774;
    text-decoration: underline;
}

.widget-title {
    text-transform: uppercase;
    color: #143774;
    font-family: "Lora", serif;
    font-weight: 300;
}

/* =================
        Layout
================= */

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
    padding: 0;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-container {
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.nav-item {
    margin: 0.5em auto;
}
.nav-item a {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #707070;
    padding: 0.25em 0;
    text-decoration: none;
}

.nav-item a:hover,
.nav-item a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 2px solid royalblue;
}

.current-page:hover {
    cursor: pointer;
}

.secondary-articles-container {
    margin-top: 2em;
}

/* =================
        mediaquery
================= */

@media (min-width: 675px) {
    .container-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .list-container {
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-item {
        margin: 0.5em 2em;
    }

    main {
        width: 75%;
    }

    .sidebar {
        width: 25%;
        margin: 0 5em;
    }
}
