* {
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    font-size: 1rem;
    line-height: 1.6;
}

/* Typography */

h1 {
    margin: 1em 0;
    font-weight: 400;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    line-height: 1.2;
}

h2 {
    margin-top: 1em;
    font-size: 1.3125rem;
    margin-bottom: 0;
    line-height: 1;
}

h3 {
    margin-top: 0.3em;
    font-size: 1rem;
    text-transform: uppercase;
    color: #f18119;
}

small {
    margin-top: 1em;
    font-size: 0.625rem;
    color: #f18119;
    font-style: italic;
}

.top-text {
    font-size: 0.625rem;
    order: -1;
    text-align: center;
    display: inline-block;
    border-top: 0.8em solid #f18119;
    border-image: linear-gradient(270deg, #ff713b 0%, #ffa51d 100%) 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    line-height: 2.5;
}

.subtitle {
    color: #f18119;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

/* Layout */

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.intro {
    padding: 1em 3em;
    padding-top: 0;
    background-color: #5a5a5a;
    background-image: url(../images/ribs.jpg);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

.main-content {
    background-color: #fffdfc;
    text-align: center;
    padding: 0 1em;
}

.description {
    margin: 1.5em 0;
    color: #5a5a5a;
}

form {
    max-width: 400px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input {
    text-align: center;
    padding: 0.5em 0;
    width: 100%;
    margin-bottom: 0.75em;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #818181;
    border-radius: 5px;
    opacity: 1;
    outline-color: #ff713b;
    transform: scale(1);
    transition: transform 250ms;
}

.btn {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 0.8rem;
    /* Layout */
    padding: 1em 0;
    border: none;
    width: 100%;
    border-radius: 7px;
    background-image: linear-gradient(270deg, #ff713b 0%, #ffa51d 100%);
    transform: scale(1);
    transition: transform 250ms;
}

input:focus {
    transform: scale(1.1);
    caret-color: red;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    color: #000;
    cursor: pointer;
    background-image: linear-gradient(270deg, #ffa51d 0%, #ff713b 100%);
    outline-color: #ff713b;
}

/* Very large screen */

.intro *,
.main-content * {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 637px) {
    h1 {
        font-size: 400;
        font-size: 3.5rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    .subtitle {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
    body {
        font-size: 1.125rem;
    }

    small {
        font-size: 0.625rem;
    }

    /* Layout*/
    .flex {
        flex-direction: row;
        margin: 0;
        align-items: center;
    }

    .intro {
        flex-direction: column;
        justify-content: space-between;
    }

    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        padding: 0 2em;
        justify-content: center;
    }

    h1 {
        margin: 0;
    }

    .top-text {
        margin-top: 0em;
    }

    form {
        width: 100%;
    }

    input,
    .btn {
        width: 50%;
    }
}
