
*{
    font-family: 'Roboto', sans-serif;
}

h1, h2 ,  p {
    margin-top: 0;
}

h1 {
    font-size: 24px;
}
p {
    font-size: 28px;
    margin-bottom: 0;
    font-weight: 400;
}

a {
    color: #FFE600;
}

.accent-color {
    color: #FFE600;
}

.btn{
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    margin-right: 10px;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 80px;
}




.title h1{
    text-align: center;
    font-size: 55px;
    margin-bottom: 0;
    font-weight: 700;
}

.title{
    background-color: #FFE600;
    padding: 60px;
}


.section-one , .section-two{
    margin: 0;
    padding: 80px 160px 80px 80px;


}

.section-one {
    background-color: #000;
    color: #fff;
}

.section-one h2 , .section-two h2 {
    font-size: 45px;
    font-weight: 700;
}


.btn-yellow, .btn-black:hover ,.btn-black:focus {
    background-color: #FFE600;
    color: #000;
}

.btn-black {
    color: #fff;
    background-color: #000000;
}

.btn-yellow:hover, .btn-yellow:focus{
    background-color: #fff;
    color: #000;
}


.section-two p {
    color: #414141;
}

.section-two-link{
    color: #414141;
}