*{
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: #fff;
    position: relative;
}

.btn{
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: rgb(179, 179, 179) 5px 5px 10px;
    
}

.btn:hover ,.btn:focus{
    background-color: rgb(255, 255, 255);
    outline: none;
}

img{
    max-width: 100%;
}

#titleMovie{
    margin: 0;
    text-align: center;
  
}
.carousel{
    margin: 0 auto;
    position: absolute;
    left:  25%;
    right: 25%;
    transform: translateY(50%);
    max-width: 600px;
    max-height: 350px;
}

.carousel-item{
    display:none;
    max-width: 600px;
}

.carousel-item-visible{
    display: block;
    height: 300px;
    animation: fade 250ms ;
    box-shadow: rgb(179, 179, 179) 5px 10px 8px;
}

.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.carousel .carousel-actions button#carousel-button-prev {
    margin-left: 20px;
}

.carousel .carousel-actions button#carousel-button-next {
    margin-right: 20px;   
}



@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}