* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
    font-size: 1.125rem;
    padding: 2em;
    color: #707070;
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
p {
    margin-top: 0em;
    margin-bottom: 0em;
}
h2 {
    font-size: 1.5rem;
    margin-top: 0;
}
img {
    max-width: 100%;
}

.accent-color {
    color: dodgerblue;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 980px;
    min-width: 450px;
    border: pink solid 2px;
    padding: 1em;
}

header {
    text-align: center;
}

aside {
    background: dodgerblue;
    color: #fff;
}

.section {
    display: flex;
    margin-top: 1em;
}

.col {
    margin: 0.75em;
    padding: 0.5em;
}
