* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
    font-size: 1.125rem;
    padding: 2em;
    color: #707070;
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
p {
    margin-top: 0em;
    margin-bottom: 0em;
}
h2 {
    font-size: 1.5rem;
    margin-top: 0;
}
img {
    max-width: 100%;
}

.accent-color {
    color: dodgerblue;
}

.container {
    margin: 0 auto;
    width: 95%;
    max-width: 980px;
    border: pink solid 2px;
    padding: 1em;
}

header {
    text-align: center;
}

aside {
    background: dodgerblue;
    color: #fff;
    padding: 1em;
}

.section {
    display: flex;
    margin: 1em 0;
    justify-content: space-between;
    align-content: flex-start;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 70%;
}

/* Media Query  */

@media (max-width: 600px) {
    .section {
        flex-direction: column;
    }

    .col-1,
    .col-2,
    .col-3 {
        width: 100%;
    }
    aside {
        padding: 0;
    }
}
