.btn{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: chartreuse;
    color: #000;
    padding: 15px 20px;
    cursor: pointer;
    margin-right: 15px;
}

.btn:hover , .btn:focus{
    background-color: rgb(82, 145, 20);
    color: #fff;
} 

.grid{
    background-color: aquamarine;
    width: 500px;
    height: 500px;
}

.square{
    padding: 0;
    margin: 0;
    border: 1px black solid;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.snake{
 background-color: blueviolet;
}