@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

*{
    font-family: 'Cabin', sans-serif;
}

html {
    height: 100vh;
    font-family: 'Cabin', sans-serif;
    letter-spacing: 2px;
}
body {
    margin: 10px;
    padding: 10px;
    background-image:  #FFF;
}

#emojiContainer {
    margin: 40px;
    text-align: center;
}

#emojiContainer span {
    margin: 10px;
    font-size: 60px;
}

#push,#unshift {
    background-color: #80D87F;
    
}

#shift,#pop {
    background-color: #E23349;
}

h1 {
    text-align: center;
    color: #000
}

input {
    margin: 0 auto;
    display: block;
    border: solid black 2px;
    height: 30px;
    background: white;
    border-radius: 2px;
    text-align: center;
}

button {
    letter-spacing: px;
    background: darkcyan;
    color: white;
    border: none;
    box-shadow: -3px 5px #33332d;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 5px;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    margin: 10px 0 40px;
}