body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    padding: 0;
    margin : 5%;
}

.title{
    color: burlywood;
    text-align: center;
}

.entry-textbox{
    width: 20em;
    height: 10em;
    padding: 1em;
    border-radius: 25px;
    margin: 0 auto;
    background-color: orange;
    border: unset;
    margin-bottom: 0.5em;
}